// 例

body {
  margin: 0;
  font-family: sans-serif;
}

.keyvisual {
  padding: 400px 0; /*paddingで表示領域を確保。heightやwidthは用いない*/
  text-align: center;
  background: url("@/img/cat.jpg") center / cover no-repeat;
}

.global-nav {
  width: 100%;
  background: transparent;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.global-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  margin: 0;
}

.global-nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff; /* 固定時の背景色 */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.global-nav a {
  text-decoration: none;
  color: #333;
  margin: 0 20px;
}
